* {
margin: 0;
}
body {
  color: #262626;
  background-color: #fafafa;
}
header {
  height: 80px;
  width: 100%;
  background-color: white;
  color: rgb(38, 38, 38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  position: fixed;
}
.feed__left img{
  width: 100;
  height: auto;
  max-height: 80px;
}
.area_name{
  text-align: center;
}
.area_name__primary{
  font-size: 18px;
  font-weight: bold;
}
.area_name__secondary{
  font-size: 14px;
  font-weight: bold;
}
.fa_compass_icon{
  width: 24px;
  height: 24px;
}
.feed{
  flex: auto;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.feed__right{
  display: flex;
  align-self: center;
  align-self: right;
  margin: 6px 0 6px 0;
}
.login{
  align-self: center;
  margin: 24px;
}
.login_button{
  font-size: 14px;
  border-radius: 3px;
  border-color: rgb(230, 230, 230);
  float: right;
  min-width: 60px;
}
.feed__left img{
  transition: all 100ms ease-out;
}
.feed__left img:hover{
  transform: scale(1.1);
  transform-origin: center;
  transition-duration: 100ms;
}

.fa_compass_icon {
		animation: rotation 3s infinite linear;
}

@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: #1a8fce;
  font-weight: bold;
}

.modal_body__login_button{
  color: #fff;
  background-color: #1a8fce;
  width: 100%;
}

.modal-title{
  font-weight: bold;
}
.form-control{

}

@media only screen and (max-width: 600px){
  .body{
    width: 100%;
  }
  .feed{
    flex: auto;
    margin-left: 24px;
  }
}

#email, .password_section{
  border: none;
  border-bottom: 1px solid #1a8fce;
  border-radius: 0;
}

.lock_password{
  border: 0;
  background-color: transparent;
}

#password{
  flex-grow:2;
  border: none;
}

.password_section{
  display: flex;
}

.photo_posts{
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  flex: auto;
  border: 1px solid rgb(230, 230, 230);
  margin-top: 20px;
  border-radius: 5px;
}

.post_header{
  justify-content: space-between;
  margin: 10px;
}

.user_avatar img{
  max-width: 75px;
  max-height: 75px;
  padding: 10px;
}

.photo_title p, .fa-clock{
  font-weight: 600;
}

.photo_title div i{
  margin-right: 20px;
}

.select_language_button{
  max-height: 30px;
}
.select_language_button, .submit_comment{
  background: none;
  border: none;
}
.photo img{
  max-width: 600px;
  height: auto;
}

.interactive_section{
  justify-content: space-between;
  margin: 10px 20px;
}

.comment_section{
  border-top: 1px solid rgb(230, 230, 230);
  margin: 20px 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 20px;
}

.comment_section input{
  background-color: transparent;
  border: none;
}

.comment_section button{
  margin-right: 10px;
}
.line{
  border-top: 1px solid rgb(230, 230, 230);
  margin: 0 20px;
}

section{
  padding-top: 80px;
}
